/* Layout Component Styles */
.layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.layout-content {
  min-height: 100vh;
  width: 100%;
  padding-left: 30vh;
  box-sizing: border-box;
  overflow-y: auto;
  overflow: hidden;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
  .layout-content {
    top: 18vh;
    position: absolute;
    min-height: 100vh;
    min-width: 100vh;
    padding-right: 30px;
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  .layout {
    font-size: 36px;
  }

  .layout * {
    font-size: 30px;
    line-height: 1.4;
  }

  .layout-content {
    padding: 0;
  }
}
.home-container {
  padding: 20px;
}

.repositories-container {
  background-color: white;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
}

.header {
  border-bottom: 1px solid #e5e7eb;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.title {
  font-weight: 600;
  font-size: 1.25rem;
}

.subtitle {
  font-weight: 300;
  font-size: 0.875rem;
}

.buttons-container {
  display: flex;
  gap: 8px;
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 0.75rem;
  border: 1px solid #e5e7eb;
}

.refresh-button {
  background-color: white;
  color: black;
}

.add-button {
  background-color: #1570ef;
  color: white;
}

.search-container {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px;
}

.search-input {
  font-size: 0.75rem;
  width: 200px;
  outline: none;
  border: none;
}

.repositories-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.repository-item {
  padding: 16px;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.repository-item:hover {
  background-color: #f3f4f6;
}

.border-bottom {
  border-bottom: 1px solid #e5e7eb;
}

.repository-header {
  display: flex;
  gap: 8px;
  align-items: center;
}

.repository-type {
  background-color: #eff8ff;
  border: 1px solid #b2ddff;
  color: #1570ef;
  font-size: 0.75rem;
  padding: 2px 8px;
  border-radius: 999px;
}

.repository-details {
  display: flex;
  gap: 16px;
  font-size: 0.875rem;
  font-weight: 300;
}

.language {
  display: flex;
  align-items: center;
  gap: 8px;
}

.language-indicator {
  background-color: #1570ef;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.icon-small {
  width: 16px;
}

.no-repository {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e5e7eb;
  padding: 16px;
  text-align: center;
  color: #6b7280;
}
